body {
   background-color: whitesmoke;
   display: grid;
   grid-template-columns: 15% 85%
}

nav {
   background-color: #000;
   position: fixed;
   height: 100%;
}

nav a {
   margin: 18px 18px 18px 8px;
   text-decoration: none;
   color: #fff;
}

nav img {
   margin: 5px 5px -5px 5px;
   filter: invert(100%);
}

.grid-item {
   position: relative;
   margin: -8px;
}

.grid-item:nth-child(1) {
   margin-right: 12px;
}

h1 {
   margin-bottom: 1000px;
}
