body {
   background-color: whitesmoke;
   display: grid;
   grid-template-columns: 15% 85%
}

#main-cotainer {
   text-align: center;
   color: #001F3F;
}

nav {
   background-color: #000;
   position: relative;
   height: 105%;
   width: 100%;
   margin: -5px 15px -5px -5px;
   zoom: 100%;
}

nav a {
   margin: 2% 2% 18px 2%;
   text-decoration: none;
   color: #fff;
   position: fixed;
}

nav p {
   margin: 5px 5px 5px 15px;
   position: fixed;
   bottom: 0;
   color: #fff;
   font-size: 10px;
}

nav img {
   margin: 5px 5px -5px 5px;
   filter: invert(100%);
}

.grid-item {
   position: relative;
   margin: -8px;
}

.grid-item:nth-child(1) {
   margin-right: 12px;
}

@media (max-width: 740px) {
   body {
      grid-template-rows: 18% 85%;
   }
   nav {
      position: fixed;
      width: 105%;
      height: 12%;
      text-align: center;
   }
   nav a {
      margin: auto;
      position: static;
      z-index: 1;
   }
   h1 {
      margin-top: 60px;
   }
}
